<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система авторизации</title>
    <link rel="stylesheet" href="static/styles/home.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
    <div class="head">
        <img src="static/images/fshB.png" height="50%">
        {% if user.is_master == True %}
            <a class="centralLink" href="#">Посмотреть заказы</a>
        {% endif %}
        {% if user.is_master == False %}
            <a class="centralLink" href="#">Разместить заказы</a>
        {% endif %}
        <div style="margin-inline: 3%;height: 100%;display: flex;align-items: center;"><a class="profileLink" href="{{ url_for('profile') }}"><i class="fa fa-user fa-lg" style="margin-right: 10px;"></i>{{user.last_name}} {{user.first_name | first}}. {{user.patronymic | first}}.</a></div>
    </div>


    <div class="searcher">
        <div class="searcher">
            <form class="searchForm" method="post" action="/search">
                <i class="fa fa-search fa-lg"></i>
                <input type="text" name="search_query" required placeholder="Парикмахер">
                <button type="submit">Поиск</button>
            </form>
        </div>
    </div>

    <div style="width: 100%;">
        <h2>Все услуги мастеров</h3>
    </div>

    <div class="base">
        <div class="containerServices">
            {% for name_service, services in grouped_services.items() %}
                <div class="service-block">
                    <h2><a href="{{ url_for('service_details_by_name', name_service=name_service) }}">{{ name_service }}</a></h2>
                        {% for service in services %}
                            <p><a href="{{ url_for('service_details_by_subgroup', subgroup=service.subgroup) }}">{{ service.subgroup }}</a></p>
                        {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>


</body>
</html>