<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="static/styles/profile.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
    <!-- <div class="head">
        <img src="static/images/fshB.png" height="50%">
            <a class="centralLink" href="#">Посмотреть заказы</a>
            <a class="centralLink" href="#">Разместить заказы</a>
        <div style="margin-inline: 3%;height: 100%;display: flex;align-items: center;"><a class="profileLink" href="#"><i class="fa fa-user fa-lg" style="margin-right: 10px;"></i>Иванов И. И.</a></div>
    </div> -->
    <header id="sticky-header">
        <div class="container">
          <div class="left-container">
            <img src="static/images/fshB.png" height="50%">
          </div>
          <div class="center-container">
            {% if user.is_master == True %}
                <a class="centralLink" href="#">Просмотреть заказы</a>
            {% endif %}
            {% if user.is_master == False %}
                <a class="centralLink" href="#">Разместить заказы</a>
            {% endif %}
          </div>
          <div class="right-container">
            <!-- <a class="profileLink" href="#"><i class="fa fa-user fa-lg" style="margin-right: 10px;"></i>Иванов И. И.</a> -->
            <a class="profileLink" href="{{ url_for('profile') }}"><i class="fa fa-user fa-lg" style="margin-right: 10px;"></i>{{user.last_name}} {{user.first_name | first}}. {{user.patronymic | first}}.</a>
          </div>
        </div>
      </header>

    <img src="static\images\head.jpg" alt="Image description" class="start-image">

    <!-- <div class="menu-container">
        <ul>
            <li><a href="#">Профиль</a></li>
            <li><a href="#">Мои заявки</a></li>
            <li><a href="#">Оповещения</a></li>
            <li><a href="#">Изменить пароль</a></li>
        </ul>
    </div> -->

    <!-- <div class="menu">
        <div class="containerServices">
           <div style="width: 30%; padding-left: 50px;">
                <h1 style="color: white; font-weight: bold;">Все услуги мастеров</h1>
            </div> -->
            <!-- <p><a href="#">Маникюр</a></p> -->
                <!-- <p><a href="#">Профиль</a></p>
                <p><a href="#">Оповещения</a></p>
                <p><a href="#">Мои заявки</a></p>
                <p><a href="#">Мои карточки</a></p>
                <p><a href="#">Изменить пароль</a></p>
        </div>
    </div> --> 

    <!-- <div class="profile-container">
        <div class="profile-header">
            <img src="static/images/user-icon.png" alt="User Icon" class="user-icon">
            <div class="user-details">
                <p>Иванов И. И.</p>
                <p>Email: ivanov@example.com</p>
            </div>
        </div>
        <div class="profile-actions">
            <a href="#">Удалить</a>
            <a href="#">Выйти</a>
        </div> -->

        <!-- <div class="profile">
            <div class="containerServices"> -->
                <!-- <div style="width: 30%; padding-left: 50px;">
                    <h1 style="color: white; font-weight: bold;">Все услуги мастеров</h1>
                </div> -->
                <!-- <h2><a href="#">Личные данные</a></h2>
                <p><a href="#">Имя</a></p>
                <p><a href="#">Фамилия</a></p>
                <p><a href="#">Отчество</a></p>
                <p><a href="#">Email</a></p>
                <h2><a href="#">Действия с профилем</a></h2>
                <p><a href="#">Удалить</a></p>
                <p><a href="#">Выйти</a></p>
            </div>
        </div> -->

        <div class="profile">
            <div class="containerServices">
                <!-- <div class="left-container">
                    <div class="side-menu">
                        <button class="menu-button">Профиль</button>
                        <button class="menu-button">Мои заявки</button>
                        <button class="menu-button">Мои карточки</button>
                        <button class="menu-button">Оповещения</button>
                        <button class="menu-button">Изменить пароль</button>
                    </div>
                </div> -->
        
                <div class="right-container">
                    <h2>Личные данные</h2>
            
                    <!-- Изменения здесь -->
                    <div class="input-group">
                        <label for="firstName">Имя</label>
                        <input type="text" id="firstName" placeholder="Иван">
                    </div>
            
                    <div class="input-group">
                        <label for="lastName">Фамилия</label>
                        <input type="text" id="lastName" placeholder="Иванов">
                    </div>
            
                    <div class="input-group">
                        <label for="middleName">Отчество</label>
                        <input type="text" id="middleName" placeholder="Иванович">
                    </div>
            
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="ivanov@example.com">
                    </div>
        
                    <div class="footer-column">
                        <h2>Действия с профилем</h2>
                        <p><a href="#" style="color: white;">Удалить</a></p>
                        <p><a href="#" style="color: white;">Выйти</a></p>
                    </div>
                    <!-- Конец изменений -->
                </div>
            </div>
        </div>

    <!-- <div class="image-container">
        <img src="static\images\Sticker_thousands_offers_w.png" alt="Image 1">
    </div> -->

    <footer>
        <div class="footImg">
            <img src="static/images/fsh.png" style="height: 15vh;">
            <img src="static/images/Farpost_horizontal.png" style="height: 15vh;">
        </div>
        <div class="footer-column">
          <h3>Разделы</h3>
          <p><a href="#">Все услуги</a></p>
          <p><a href="#">История заказов</a></p>
          <p><a href="#">Мобильная версия</a></p>
          <p><a href="#">Telegram-Бот</a></p>
        </div>
        <div class="footer-column">
          <h3>Информация</h3>
          <p><a href="#">Вакансии</a></p>
          <p><a href="#">Контакты</a></p>
          <p>Служба поддержки:</p>
          <p><a href="#">+7999615XXXX</a></p>
          <p>© ООО «Фарпост», 1997—2023</p>
        </div>
    </footer>



    <script src="sticky-header.js">
        document.addEventListener("DOMContentLoaded", function () {
            window.onscroll = function () {
                stickyHeader();
        };

  var header = document.getElementById("sticky-header");
  var sticky = header.offsetTop;

  function stickyHeader() {
    if (window.pageYOffset > sticky) {
      header.classList.add("fixed");
    } else {
      header.classList.remove("fixed");
    }
  }
});
    </script>
</body>
</html>