<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система авторизации</title>
    <link rel="stylesheet" href="static/styles/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="kugesanudsav">
            <div class="logo">Регистрация</div>
            <div class="kugesada-szetunomon">
                <form action="" method="post" class="kugesamopag kugesamopag-register">
                    <div class="kugesamopag-field">
                        <label class="user" for="register-firstname">
                            <span><i class="fa fa-user fa-lg"></i></span>
                        </label>
                        <input id="register-firstname" type="text" class="kugesamopag-input" placeholder="Имя" required>

                        <label class="user" for="register-lastname">
                            <span><i class="fa fa-user fa-lg"></i></span>
                        </label>
                        <input id="register-lastname" type="text" class="kugesamopag-input" placeholder="Фамилия" required>
                    </div>

                    <div class="spacer"></div>

                    <div class="kugesamopag-field">
                        <label class="envelope" for="register-email">
                            <span><i class="fa fa-envelope fa-lg"></i></span>
                        </label>
                        <input id="register-email" type="email" class="kugesamopag-input" placeholder="Email" required>
                    </div>

                    <div class="spacer"></div>

                    <div class="kugesamopag-field">
                        <label class="lock" for="register-password">
                            <span><i class="fa fa-lock fa-lg"></i></span>
                        </label>
                        <input id="register-password" type="password" class="kugesamopag-input" placeholder="Пароль" required>
                    </div>

                    <div class="spacer"></div>

                    <div class="kugesamopag-field-end">
                        <input class="inputButton" type="submit" value="Зарегистрироваться">
                    </div>

                    <div class="bottomLink">
                        <a href="#" class="linkRP">Уже есть аккаунт? Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Include your script for toggling password visibility if needed
    </script>
</body>
</html>