<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система авторизации</title>
    <link rel="stylesheet" href="static/styles/main2.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <img src="static\images\fshB.png" alt="Image Description" class="registration-image" >
    <div class="main">
        <div class="kugesanudsav">
            <div class="logo">Регистрация</div>
            <div class="kugesada-szetunomon">
                <form action="/register" method="post" class="kugesamopag kugesamopag-register">
                    <div class="bottomLink">
                        <a href="#" class="linkRP customer" id="customerLink">Заказчик</a>
                        <div class="verticalLine">|</div>
                        <a href="#" class="linkRP master" id="masterLink">Мастер</a>
                    </div>
                    <br>
                    
                    <div class="kugesamopag-field">
                        <label class="user" for="register-firstname">
                            <span><i class="fa fa-user fa-lg"></i></span>
                        </label>
                        <input id="register-firstname" name="firstname" type="text" class="kugesamopag-input" placeholder="Имя" required>
                    </div>

                    <div class="spacer"></div>

                    <div class="kugesamopag-field">
                        <label class="user" for="register-lastname">
                            <span><i class="fa fa-user fa-lg"></i></span>
                        </label>
                        <input id="register-lastname" name="lastname" type="text" class="kugesamopag-input" placeholder="Фамилия" required>
                    </div>

                    <div class="spacer"></div>

                    <div class="kugesamopag-field">
                        <label class="user" for="register-patronymic">
                            <span><i class="fa fa-user fa-lg"></i></span>
                        </label>
                        <input id="register-patronymic" name="patronymic" type="text" class="kugesamopag-input" placeholder="Отчество" required>
                    </div>

                    <div class="spacer"></div>

                    <div class="kugesamopag-field">
                        <label class="envelope" for="register-email">
                            <span><i class="fa fa-envelope fa-lg"></i></span>
                        </label>
                        <input id="register-email" name="email" type="text" class="kugesamopag-input" placeholder="Email" required>
                    </div>

                    <div class="spacer"></div>

                    <div class="kugesamopag-field">
                        <label class="lock" for="login-password"><span><i class="fa fa-lock fa-lg"></i></span></label>
                        <input id="login-password" name="password" type="password" class="kugesamopag-input" placeholder="Пароль" required>
                        <i class="fa fa-eye fa-lg" id="togglePassword" style="transform: translateX(-10px) translateY(18px); top: 50%; color: gray; margin-left: -22px; cursor: pointer;"></i>
                    </div>

                    <div class="remember-me">
                        <label for="remember-me" class="remember-me">
                            <input type="checkbox" id="remember-me" name="remember"> Я согласен с условиями обработки персональных данных</a></label>
                    </div>
                    <br>
                    <input type="hidden" id="registrationType" name="registration_type" value="">
                    <div class="kugesamopag-field-end">
                        <input class="inputButton2" type="submit" value="Зарегистрироваться">
                    </div>

                    <div class="bottomLink">
                        <p>Уже есть аккаунт? <a href="{{ url_for('login') }}" class="linkRP">Войти</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("togglePassword").addEventListener("click", togglePasswordVisibility);

        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("login-password");
            var eyeIcon = document.getElementById("togglePassword");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }

        document.getElementById("customerLink").addEventListener("click", function() {
            switchRegistrationType("customer");
        });

        document.getElementById("masterLink").addEventListener("click", function() {
            switchRegistrationType("master");
        });

        function switchRegistrationType(type) {
            var form = document.querySelector(".kugesamopag-register");
            var registrationTypeInput = document.getElementById("registrationType");

            if (type === "customer") {
                registrationTypeInput.value = "";  // Если не Мастер, очищаем значение
            } else if (type === "master") {
                registrationTypeInput.value = "is_master";  // Если Мастер, устанавливаем значение "is_master"
            }

            var bottomLinkCustomer = document.getElementById("customerLink");
            var bottomLinkMaster = document.getElementById("masterLink");

            if (type === "customer") {
                bottomLinkCustomer.classList.add("selectedCustomer");
                bottomLinkMaster.classList.remove("selectedMaster");
            } else if (type === "master") {
                bottomLinkCustomer.classList.remove("selectedCustomer");
                bottomLinkMaster.classList.add("selectedMaster");
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
        // Вызовем функцию для установки значения по умолчанию
        setDefaultRegistrationType();

        // Добавим обработчик события для кнопки "Заказчик"
        document.getElementById("customerLink").addEventListener("click", function() {
            switchRegistrationType("customer");
        });

        // Добавим обработчик события для кнопки "Мастер"
        document.getElementById("masterLink").addEventListener("click", function() {
            switchRegistrationType("master");
        });
    });

        // Функция для установки значения по умолчанию при загрузке страницы
        function setDefaultRegistrationType() {
            var form = document.querySelector(".kugesamopag-register");
            var registrationTypeInput = document.getElementById("registrationType");

            // Установим значение по умолчанию на "Заказчик"
            registrationTypeInput.value = "";

            var bottomLinkCustomer = document.getElementById("customerLink");
            var bottomLinkMaster = document.getElementById("masterLink");

            // Добавим класс для выделения кнопки "Заказчик"
            bottomLinkCustomer.classList.add("selectedCustomer");
            bottomLinkMaster.classList.remove("selectedMaster");
        }
    </script>
</body>
</html>