/* st.css */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400; /* Обычный вес шрифта */
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
    /* Если используете CDN, то можете заменить "url(path/to/lato.woff2)" на ссылку на шрифт с CDN */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700; /* Полужирный вес шрифта */
    src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
    /* Замените на ссылку на шрифт с CDN, если используете CDN */
}

body {
	background-color: #c3c4c7;   
	font-family: 'Lato';                                  
}

.head {
    width: 100%;
    height: 10vh;
    display: flex;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20em;
}

.centralLink {
    /* padding-top: 5px; */
    font-size: 18px;
    padding: 20px;
    padding-inline: 40px;
    border-radius: 10px;
    background-color: #f28e39;
    color: white;
    text-decoration: none;
}

.centralLink:hover {
    cursor: pointer;
    background-color: #fda75c;
}

.profileLink {
    padding: 20px;
    padding-inline: 40px;
    border-radius: 10px;
    /* background-color: #f28e39; */
    color: rgb(152, 152, 152);
    text-decoration: none;
    font-size: 20px;
}

.profileLink:hover {
    color: red;
}

img {
    margin-inline: 3%;
    height: 50%;
    /* height: 50%; */
    /* max-width: 100%; */
}

.searcher {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.searchForm {
    font-size: 32px;
    color: #1f8bca;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    width: 70%;
    height: 10vh;
}

.searchForm input {
    color: #000000;
    font-size: 30px;
    margin-inline: 2%;
    text-indent: 10px;
    width: 70%;
    height: 7vh;
    border-radius: 5px;
    /* border: #c3c4c7 solid 2px; */
    border: 0;
    background-color: white;
}

.searchForm button {
    font-size: 24px;
    border-radius: 5px;
    height: 7vh;
    width: 12%;
    background-color: #f28e39;
    color: white;
    border: 0;
}

.searchForm button:hover {
    cursor: pointer;
    background-color: #fda75c;
}
.base {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.containerServices {
    display: flex;
    width: 90%;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #1f8bca;
    justify-content: center;
    align-items: flex-start;
}

.service-block {
    color: white;
    padding-inline: 40px;
    border-radius: 10px;
    margin: 30px;
}

.service-block a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.service-block a:hover {
    background-color: #4f9cc8;
    border-radius: 10px;
    color: #f28e39;
    cursor: pointer;
}