/* st.css */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400; /* Обычный вес шрифта */
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
    /* Если используете CDN, то можете заменить "url(path/to/lato.woff2)" на ссылку на шрифт с CDN */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700; /* Полужирный вес шрифта */
    src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
    /* Замените на ссылку на шрифт с CDN, если используете CDN */
}

body {
    margin: 0;
    padding: 0;
	background-color: #c3c4c7;   
	font-family: 'Lato';                                  
}

.head {
    width: 100%;
    height: 10vh;
    display: flex;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20em;
}

.centralLink {
    /* padding-top: 5px; */
    font-size: 18px;
    padding: 20px;
    padding-inline: 40px;
    border-radius: 10px;
    background-color: #f28e39;
    color: white;
    text-decoration: none;
}

.centralLink:hover {
    cursor: pointer;
    background-color: #fda75c;
}

.profileLink {
    padding: 20px;
    padding-inline: 40px;
    border-radius: 10px;
    /* background-color: #f28e39; */
    color: rgb(152, 152, 152);
    text-decoration: none;
    font-size: 20px;
}

.profileLink:hover {
    color: red;
}

img {
    margin-inline: 3%;
    height: 50%;
    /* height: 50%; */
    /* max-width: 100%; */
}

/* .searcher {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.searchForm {
    font-size: 32px;
    color: #1f8bca;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 10vh;
}

.searchForm input {
    color: #000000;
    font-size: 30px;
    margin-inline: 2%;
    text-indent: 10px;
    width: 70%;
    height: 7vh;
    border-radius: 5px;
    border: 0;
    background-color: white;
}

.searchForm button {
    font-size: 24px;
    border-radius: 5px;
    height: 7vh;
    width: 12%;
    background-color: #f28e39;
    color: white;
    border: 0;
}

.searchForm button:hover {
    cursor: pointer;
    background-color: #fda75c;
} */

.searcher {
    margin-top: 5vh; /* Уменьшено значение отступа сверху */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Добавлено для корректного позиционирования вложенных элементов */
}

.searchForm {
    font-size: 32px;
    color: #1f8bca;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Уменьшено значение ширины формы */
    height: 8vh; /* Уменьшено значение высоты формы */
    position: relative;
    z-index: 1;
}

.fa-search {
    margin-right: -40px; /* Уменьшено значение отступа лупы справа */
}

.search-input-wrapper {
    position: relative;
    width: 70%;
}

.searchForm input {
    color: #000000;
    font-size: 24px;
    margin-inline: 2%;
    text-indent: 10px;
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    border: 0;
    background-color: white;
}

.searchForm button {
    font-size: 24px;
    border-radius: 5px;
    height: 7vh;
    width: 20%;
    background-color: #f28e39;
    color: white;
    border: 0;
}

.searchForm button:hover {
    cursor: pointer;
    background-color: #fda75c;
}

.clear-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    z-index: 1;
}

.searchForm:hover .clear-icon {
    display: block;
}

.base {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
}

.containerServices {
    display: flex;
    width: 90%;
    border-radius: 20px;
    flex-direction: column;
    background-color: #1f8bca;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
}

.service-block {
    color: white;
    padding-inline: 40px;
    border-radius: 3px;
    margin: 30px;
}

.service-block a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.service-block a:hover {
    background-color: #4f9cc8;
    border-radius: 3px;
    color: #f28e39;
    cursor: pointer;
}



#sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-container img {
    height: 50px;
  }
  
  .centralLink, .profileLink {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
  }
  
  .profileLink i {
    margin-right: 10px;
  }
  
  .content {
    /* Добавьте отступ сверху, чтобы контент не перекрывался хэдером */
    margin-top: 80px;
  }

#sticky-header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeInDown 0.5s;
    z-index: 100;
  }

  .start-image {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 75px;
    display: block; /* Убедитесь, что изображение является блочным элементом */
  }

  .center-container .centralLink {
    color: white;
    /* Дополнительные стили, если необходимо */
    text-decoration: none; /* Убрать подчеркивание ссылок, если нужно */
  }

  .image-container {
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
  }
  
  .image-container img {
    width: 250px; /* Устанавливаем ширину изображения */
    height: auto;
    margin-right: 70px;
  }
/* 
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  
  footer {
    background-color: rgba(58,63,68,0.5);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  /* .footer-column {
    flex: 1;
    text-align: center;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
  }

  .footer-column a {
    color: white;
    text-decoration: none;
  } */

  /* .footImg {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 70px;
  } */

  .footer-column {
    flex: 1;
    text-align: center;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: white;
    text-decoration: none;
  }

  .footImg {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 20px; /* Изменен отступ слева на 20px */
  }
  
  .footImg img {
    margin-bottom: 10px; /* Добавлен отступ между изображениями */
  }

  .header {
    z-index: 2; /* Установка более высокого z-индекса для хэдера */
}

.containerServices {
    display: flex;
    flex-direction: column;
    color: white; /* Белый текст для контейнера личных данных */
}

.containerServices h2 {
    margin-top: 20px;
    color: white; /* Белый текст для заголовка "Личные данные" */
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    color: white; /* Белый текст для меток */
    display: inline-block;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    color: black; /* Черный текст для полей ввода */
}

.profile {
    width: 60%; /* Устанавливаем ширину блока */
    margin-left: auto; /* Выравниваем справа */
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-button {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}